alembic==1.16.4
blinker==1.9.0
click==8.2.1
flask==3.1.1
flask-marshmallow==1.3.0
flask-migrate==4.1.0
flask-sqlalchemy==3.1.1
greenlet==3.2.3
iniconfig==2.1.0
itsdangerous==2.2.0
jinja2==3.1.6
mako==1.3.10
markupsafe==3.0.2
marshmallow==4.0.0
marshmallow-sqlalchemy==1.4.2
packaging==25.0
pluggy==1.6.0
psycopg2-binary==2.9.10
pygments==2.19.2
pytest==8.4.1
python-dotenv==1.1.1
sqlalchemy==2.0.42
typing-extensions==4.14.1
werkzeug==3.1.3
